@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=Raleway:wght@300&display=swap');
content {
    max-width: 1600px;
    margin: 0 auto;
    color: #a44a3f;
}
nav a {
    text-align: center;
    color: #e4d9d7;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #a44a3f ;
    color: #adf7b6;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: #a44a3f;
}
.button-box {
    text-align: center;
    color: #a44a3f;
}
main section {
    text-align: center;
    color:#a44a3f;
}
main section img {
    box-sizing: border-box;
}
#background {
    height: 725px;
    color: #a01300;
    background-color: #353831;
}
.msg {
    background-color: #a44a3f ;
    color: #adf7b6;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2 {
    color: #353831;
    font-family: 'Raleway', sans-serif;
}
.msg p {
    color: #353831;
    font-size: .8em;
    padding-bottom: 15px;
}
footer {
    background-color: #353831 ;
    color: #adf7b6;
    padding: 25px 50px;
    margin-top: 200px;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer a {
    color: #a44a3f;
}
footer a:hover {
    color: #a44a3f;
}
footer .social img {
    padding-top: 15px;
}
.book:hover, .join:hover {
    background-color: #a44a3f;
    color: #9d9171;
}
.book, .join {
    background-color: #a44a3f ;
    color: #adf7b6;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
header {
    background-color: #a44a3f ;
    color: #adf7b6;
}
body {
    background-color: #ffffff ;
    color: #adf7b6;
    font-family: 'Bevan', serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
.home-title {
    color: #adf7b6;
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h4 {
    color: #a44a3f;
}
h2 {
    margin: 0;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
#logo_link {
    padding-top: 5px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid black;
}